body {
    font-family: sans-serif;
  }

  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .section-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  h4 {
    margin-top: 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }

  input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
  }

  button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #218838;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  /* Style for the "Other" text area */
  #other-lab-tests, #other-functional-tests {
    display: none; /* Initially hidden */
    margin-top: 5px;
  }